{% extends 'base.html' %}{% block content %}
    <section class="jarallax bg-gradient py-1" data-jarallax data-speed="0.25">
        <div class="jarallax-img"></div>
        <div class="container py-4 py-sm-4 text-center">
            <div class="py-md-4">
                <h1 class="text-light pb-1">Testimonials</h1>
            </div>
        </div>
        <div class="cs-shape cs-shape-bottom cs-shape-curve bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
    </section>
    <section class="container mb-3 mt-3">
        <div id="gOF3dpengFtDrmSXqrslHwXdbgjStZt_display_reviews_container">
            <script type="text/javascript" src="https://providers.doctor.com/siteEnhance/readReviewWidget?key=gOF3dpengFtDrmSXqrslHwXdbgjStZt"></script>
        </div>
    </section>{% endblock %}