<section class="position-relative bg-secondary pt-5 pt-lg-7 pb-7 overflow-hidden">{% load static wagtailcore_tags %}
    <div class="cs-shape cs-shape-bottom cs-shape-curve bg-body">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
            <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
        </svg>
    </div>
    <div class="container pt-3 pb-4 pt-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-5 mt-lg-n7 pb-5 mb-sm-3 mb-lg-0 pb-lg-0 text-center text-lg-left">
                <h1 class="display-4">{{ self.title }}</h1>
                <p class="pb-2 h5">{{ self.subtitle }}</p>
            </div>
            <div class="col-lg-7">
                <div class="cs-parallax mx-auto" style="max-width: 705px;">
                    <div class="cs-parallax-layer position-relative" data-depth="0.1">
                        <img src="{% static 'img/svg/parallax/prp/layer01.svg' %}" alt="Layer"/></div>
                    <div class="cs-parallax-layer" data-depth="0.9">
                        <img src="{% static 'img/svg/parallax/prp/layer06.svg' %}" alt="Layer"/></div>
                    <div class="cs-parallax-layer" data-depth="0.35">
                        <img src="{% static 'img/svg/parallax/prp/layer02.svg' %}" alt="Layer"/></div>
                    <div class="cs-parallax-layer" data-depth="0.2">
                        <img src="{% static 'img/svg/parallax/prp/layer03.svg' %}" alt="Layer"/></div>
                    <div class="cs-parallax-layer" data-depth="0.5">
                        <img src="{% static 'img/svg/parallax/prp/layer04.svg' %}" alt="Layer"/></div>
                    <div class="cs-parallax-layer" data-depth="0.6">
                        <img src="{% static 'img/svg/parallax/prp/layer05.svg' %}" alt="Layer"/></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container bg-overlay-content" style="margin-top: -175px;">
    <div class="bg-light rounded-lg box-shadow py-5 py-md-6 px-4 px-md-0">
        <div class="row align-items-center py-3 py-md-0">
            <div class="col-xl-6 col-lg-5 col-md-4 text-center">
                <h2 class="pb-3 pb-md-0 text-primary">{{ self.card_title }}</h2>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-7 text-center text-md-left">
                {{ self.card_text|richtext }}
            </div>
        </div>
    </div>
</section>{% block extra_js %}
    <script src="{% static 'vendor/parallax-js/dist/parallax.min.js' %}"></script>{% endblock %}