<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Password Required | Restore Orthopedics & Sports Medicine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'img/favicon/safari-pinned-tab.svg' %}">
    {% include 'partials/_page-loading.html' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/theme.min.css' %}">
</head>
<body>
<div class="cs-page-loading active">
    <div class="cs-page-loading-inner">
        <div class="cs-page-spinner"></div>
        <span>Loading...</span>
    </div>
</div>
<main class="cs-page-wrapper">
    <div class="d-none d-md-block position-absolute w-50 h-100 bg-size-cover" style="top: 0; right: 0; background-image: url({% static 'img/jpg/signin-img.jpg' %});"></div>
    <section class="container d-flex align-items-center pt-7 pb-3 pb-md-4" style="flex: 1 0 auto;">
        <div class="w-100 pt-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 offset-lg-1">
                    <div class="cs-view show" id="signin-view">
                        <img src="{% static 'img/logo/logo-dark.svg' %}" alt="Restore Orthopedics" width="200px" class="pb-3">
                        <h1 class="h2">Password Required</h1>
                        {{ form.non_field_errors }}
                        <p class="font-size-ms text-muted mb-4">You need a password to access this page.</p>
                        <form class="needs-validation" action="{{ action_url }}" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="input-group-overlay form-group">
                                {{ form.password.errors }}
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            <button class="btn btn-primary btn-block" type="submit">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="{% static 'vendor/jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'js/theme.min.js' %}"></script>
</body>
</html>