<section class="container pt-5 pb-4 pb-md-5 pb-lg-6 pt-md-6 pt-lg-7">{% load wagtailimages_tags %}
    <h2 class="text-center pt-2 pt-md-0 mb-5">
        {% if self.speaker|length == 1 %}Speaker{% elif self.speaker|length > 1 %}Speakers{% endif %}</h2>
    <div class="row pb-3 pb-md-0 justify-content-center">{% for speaker in self.speaker %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
            <div class="card card-curved-body border-0 box-shadow-lg mx-auto" style="max-width: 20rem;">
                <picture class="card-img-top">
                    {% image speaker.image fill-150x150 format-webp as image_webp %}
                    <source srcset="{{ image_webp.url }}" type="image/webp">
                    {% image speaker.image fill-150x150 format-png as image_png %}
                    <source srcset="{{ image_png.url }}" type="image/png">
                    {% image speaker.image fill-150x150 format-png %}
                </picture>
                <div class="card-body text-center">
                    <h3 class="h6 card-title mb-2">{{ speaker.name }}</h3>
                    <p class="font-size-xs text-body mb-0">{{ speaker.about }}</p>
                </div>
            </div>
        </div>{% endfor %}
    </div>
</section>